NEXT_PUBLIC_SITE_URL=http://localhost:3000
APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://qqq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJh
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJh
CRON_SECRET_KEY=
EMAIL_PROVIDER=#brevo o resend

RESEND_API_KEY=
BREVO_SMTP_KEY=
BREVO_SENDER_EMAIL=
BREVO_SMTP_USER=